---
    import BentoItem from './BentoItem.astro'
---

<section class={`
    w-max max-w-[1900px]
    grid lg:grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto p-6 md:p-12 lg:p-20
  `}>

    <BentoItem class="col-span-10 md:col-span-6" title="Gastronomia" subtitle="amimbawe amimbawe">
        <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 w-full
          h-full group-hover:scale-110 transition-scale duration-1000
          ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-blue-950 -z-10"
        style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Calpe-Marina-Alta-2019.jpg')"
      >
         <p slot="content" class="max-w-xl">Alll</p>
      </div>
    </BentoItem>
    <BentoItem class="col-span-10 md:col-span-4" title="Gastronomia" subtitle="amimbawe amimbawe" />
    <BentoItem class="col-span-10 md:col-span-6"title="Gastronomia" subtitle="amimbawe amimbawe"/>
    <BentoItem class="col-span-10 md:col-span-4"title="Gastronomia" subtitle="amimbawe amimbawe"/>
</section>

