---
    import BentoItem from './BentoItem.astro'
---

<section   class={`
   w-auto md:w-[160%] max-w-[1900px]
  grid lg:grid-cols-10 auto-rows-[30rem]  gap-4
   p-6 md:p-12 lg:p-20 mr-auto md:-ml-60 ml-auto
`}>

    <BentoItem class="col-span-10 md:col-span-6" title="Playas y calas" subtitle="">
        <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 w-full
          h-full group-hover:scale-110 transition-scale duration-1000
          ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-blue-950 -z-10"
        style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Calpe-Marina-Alta-2019.jpg')"
        >
       
      </div>
      <p slot="content" class="max-w-xl">
        Descubre nuestras <strong>espectaculares playas y calas</strong>, donde las arenas doradas se encuentran con aguas cálidas del Mediterráneo.
      </p>

    </BentoItem>

    <BentoItem class="col-span-10 md:col-span-4" title="Gastronomia" subtitle="" >
      <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-blue-950 -z-10"
      style="background-image: url('https://images.ecestaticos.com/6LT6ER-PD0JD2tiFY8gu8zzMAiw=/0x0:2268x2740/746x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F04f%2Ff27%2F7d7%2F04ff277d759d265d364e987d9baeee65.jpg')"
      >
       
      </div>
      <p slot="content" class="max-w-xl">
        Deléitate con la exquisita gastronomía de Valencia, una experiencia culinaria que fusiona <strong>tradición e innovación</strong>.
      </p>

    </BentoItem>

    <BentoItem class="col-span-10 md:col-span-6"title="Cultura" subtitle="">
      <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-blue-950 -z-10"
      style="background-image: url('https://viajes.nationalgeographic.com.es/medio/2023/03/03/crida-fallas_6126d9c5_230303102308_1280x853.jpg')"
    >
       
    </div>
    <p slot="content" class="max-w-xl">
      Disfruta de un viaje fascinante entre la <strong>tradición y la modernidad</strong>. La ciudad alberga monumentos impresionantes, como la <strong>Ciudad de las Artes y las Ciencia</strong>s, un espectacular complejo arquitectónico.
    </p>
    </BentoItem>
    <BentoItem class="col-span-10 md:col-span-4"title="Naturaleza" subtitle="">
    <div
    slot="image"
    class="absolute left-0 top-0 bottom-0 w-full
      h-full group-hover:scale-110 transition-scale duration-1000
      ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-blue-950 -z-10"
    style="background-image: url('https://offloadmedia.feverup.com/valenciasecreta.com/wp-content/uploads/2020/10/19134718/Quesa-non_name.noname-BF.jpg')"
    >
     
    </div>
  <p slot="content" class="max-w-xl">
    Adéntrate en la Albufera, una laguna costera rodeada de arrozales y humedales, hogar de una rica variedad de aves
  </p>
  </BentoItem>



</section>

