<div class="w-full relative h-screen lg:h-full md:aspect-video " >
    <img
    class="absolute w-[1000px] [inset:0] z-10 m-auto"
    alt="Descubre el mundo que hay detras"
    src="./mev-es.png"
    >
    <video 
    class="w-full h-full object-cover object-top animate-ease-in-out animate-fade animate-duration-1000 cp-v"
    src="./Video_Background.mp4" 
    autoplay loop muted 
    ></video>
    <video 
    class="absolute -bottom-48 blur-3xl -z-40"
    src="./Video_Background.mp4" 
    autoplay loop muted 
    ></video>
</div>