<div class="w-full relative " >
    <img
    class="absolute top-10 z-10 w-[800px] left-0 right-0 m-auto"
    alt="Descubre el mundo que hay detras"
    src="./mev-es.png"
    >
    <video 
    class="w-full h-full object-cover object-top animate-ease-in-out animate-fade animate-duration-1000 cp-v"
    src="./Video_Background.mp4" 
    autoplay loop muted 
    ></video>
    <video 
    class="absolute -bottom-48 blur-3xl -z-40"
    src="./Video_Background.mp4" 
    autoplay loop muted 
    ></video>
</div>